/* Gradient Background */

.gradient-background {
    background: linear-gradient(300deg, #40514E, #30E3CA, #7743DB);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Container */
.container {
    margin: 0 11vw;
}

.flex-container {
    display: flex;
    align-items: center;
}

.title-line {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
    margin-bottom: 50px;
}


/* Title Section */

#section-title {
    height: 63.12vh;
}

#img-div img {
    display: flex;
    align-items: flex-end;
    height: 63.12vh;
    padding-left: 3rem;
}

.title-div {
    padding-right: 3rem;
}


/* Elements */

body {
    margin: 0;
    background-color: #E4F9F5;
}


/* Font and Text */

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 6vmax;
    color: #40514E;
    margin: 0;
    font-weight: normal;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2.9vmax;
    color: #40514E;
    margin: 0;
    font-weight: normal;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vmax;
    font-weight: bold;
    color: #40514E;
    margin: 0;
}

p {    
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vmax;
    color: #40514E;
    margin: 0;
    font-weight: normal;
}

a {    
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vmax;
    color: #40514E;
    margin: 0;
    font-weight: normal;
}

#section-title h1, #section-title h2 {
    color: #E4F9F5;
}

#section-about-me h3 {
    color: #E4F9F5;
}


/*  */

.card {
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
}

.btn {
    background-color: #30E3CA;
    border-color: #30E3CA;
    color: black;
}

.btn:hover {
    background-color: #11999E;
    border-color: #11999E;
    color: #E4F9F5;
}

.nav-link {
    color: #E4F9F5;
}

.nav-link:hover {
    color: #40514E;
}

#section-footer p{
    color: #E4F9F5;
}


/* Hero Section */

#section-hero {
    margin: 50px 0;
}

.section-hero-img {
    width: 408px;
    height: 374px;
    overflow: hidden;
    border-radius: 20px;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 10px 10px 50px rgb(204, 203, 203);
}

.section-hero-img h3 {
    color: #E4F9F5;
    text-align: left;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 35% 0px 0px 12%;
    width: 70%;
    line-height: 120%;
}

.section-hero-img-gaming {
    background: url("../imgs/gaming.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;   
    background-position: center center;  
}

.section-hero-img-music {
    background: url("../imgs/music.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;    
    background-position: center center;
}

.section-hero-img-programming {
    background: url("../imgs/programming.jpg");  
    background-repeat: no-repeat;
    background-size: 100% 150%;  
    background-position: center center;   
}

#section-hero-div {
    display: flex;
    justify-content: space-between;
}


/* Skills Section */

#section-skills {
    margin: 100px 0 100px 0;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 30px;
}

.skill-imgs {
    width: 35px;
    margin-right: 15px;
}

.skill-title {
    margin-bottom: 1rem;
}

.commentary {
    margin-bottom: 1rem;
    min-height: 8rem;
}

.mastery div{
    display: flex;
}

.mastery img {
    width: 30px;
    padding-right: 10px;
}


/* Project Section */

#project-1 {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

#project-1 div {
    margin-right: 10rem;
}

#section-projects {
    margin-bottom: 100px;
}

#section-projects h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #40514E;
    font-weight: 300;
}

#section-projects a {
    color: black;
    background-color: #30E3CA;
    padding: 12px;
    border: 12px;
    border-radius: 10px;
    text-decoration: none;
}

#section-projects a:hover {
    color: #E4F9F5;
    background-color: #11999E;
}

#section-projects p {
    margin: 20px 0px;
    margin-bottom: 30px;
}

#project-2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 16rem;
    text-align:right;
}

#project-2 div {
    margin-left: 10rem;
}

video {
    width: 600px;
}

/* Footer */

#section-footer div, p{
    margin: 0;
}

#footer {
    display:grid;
}

#footer-links {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 1px solid #E4F9F5;
    margin: 0 10.208vw !important;
}

#footer-at {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin-bottom: 30px !important;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

#footer a {
    color: #E4F9F5;
    text-decoration: none;
    padding: 0 10px;
}

#footer a:hover {
    color: #40514E;
}

/*  Extra small	            None	    <576px
    Small	                sm	        ≥576px
    Medium	                md	        ≥768px
    Large	                lg	        ≥992px
    Extra large	            xl	        ≥1200px
    Extra extra large	    xxl	        ≥1400px */

    /* 320px — 480px: dispositivos móveis
    481px — 768px: iPads, tablets
    769px — 1024px: telas pequenas, laptops
    1025px — 1200px: desktops, telas grandes
    1201px e acima —  telas muito grandes, TVs */
    
@media (max-width: 575px) {

    /* Container */
    .container {
        margin: 0 5vw;
    }

    .flex-container {
        display: block;
    }

    .title-line {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    /* Title Section */

    #title-cont {
        position: relative;
    }

    #section-title {
        height: 100vh;
    }

    #img-div {
        position: absolute;
        top: 20vh;
    }

    #img-div img {
        height: 80.12vh;
        max-width: 90vw;
        padding-left: 0;
    }

    .title-div {
        display: block;
        position: absolute;
        left: 21%;
        top: 10vh;
        padding-right: 0;
        text-align: center;
    }

    
    /* Project Section */

    #project-1 {
        display: block;
    }

    #project-2 {
        display: block;
    }

    video {
        width: 400px
    }

    /* About Me Section */

    #section-hero {
        margin: 50px 0;
    }

    .section-hero-img {
        width: 100%;
        height: 15rem;
        overflow: hidden;
        border-radius: 20px;
        margin: 20px 0px;
        box-sizing: border-box;
        box-shadow: 10px 10px 50px rgb(204, 203, 203);
    }
    
    .section-hero-img h3 {
        color: #E4F9F5;
        text-align: left;
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
        margin: 4rem 0 0 3rem;
        width: auto;
        line-height: 120%;
    }
    
    .section-hero-img-gaming {
        background: url("../imgs/gaming.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150%;   
        background-position: center center;  
    }
    
    .section-hero-img-music {
        background: url("../imgs/music.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150%;    
        background-position: center center;
    }
    
    .section-hero-img-programming {
        background: url("../imgs/programming.jpg");  
        background-repeat: no-repeat;
        background-size: 100% 150%;  
        background-position: center center;   
    }
    
    #section-hero-div {
        display: block;
    }

    
    /* Skills Section */

    #section-skills {
        margin: 100px 0 100px 0;
    }

    .skills {
        margin-bottom: 6rem;
    }

    .skill-grid {
        margin-top: 30px;
    }

    .skill-imgs {
        width: 35px;
        margin-right: 15px;
    }

    .skill-title {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .commentary {
        margin-bottom: 1rem;
        min-height: 0;
        text-align: center;
    }

    .mastery {
        text-align: center;
    }

    .mastery div{
        display: flex;
        justify-content: space-around;
        margin-top: 0.5rem;
    }

    .mastery img {
        width: 30px;
        padding-right: 0px;
    }


    /* Projects Section */

    #project-1 {
        margin-bottom: 5rem;
    }

    #project-1 div {
        margin-bottom: 3rem;
        margin-right: 0;
        width: 100%;
    }

    #section-projects {
        margin-bottom: 100px;
    }

    #section-projects h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 3vmax;
        color: #40514E;
        font-weight: 300;
    }

    #section-projects a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 96%;
        height: 1.8rem;
        color: #40514E;
        background-color: #30E3CA;
        padding: 12px;
        border: 12px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 2vmax;
    }

    #section-projects p {
        margin: 20px 0px;
        margin-bottom: 30px;
        font-size: 2vmax;
    }

    #project-2 div {
        margin-left: 0;
        margin-bottom: 3rem;
        text-align: start;
    }

    video {
        width: 100%;
    }

    /* Footer */

    #section-footer div, p{
        margin: 0;
        font-size: 1rem;
    }

    #footer {
        display:grid;
    }

    #footer-links {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        border-bottom: 1px solid #E4F9F5;
        margin: 0 !important;
    }

    #footer-at {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        margin-bottom: 30px !important;
    }

    ul {
        display: flex;
        padding: 0%;
    }

    li {
        list-style-type: none;
    }

    #footer a {
        color: #E4F9F5;
        text-decoration: none;
        padding: 0 5px;
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* Container */

    .container {
        margin: 0 5vw;
    }

    .flex-container {
        display: block;
    }

    .title-line {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    /* Title Section */

    #title-cont {
        position: relative;
    }

    #section-title {
        height: 100vh;
    }

    #img-div {
        position: absolute;
        top: 20vh;
    }

    #img-div img {
        height: 80.12vh;
        max-width: 90vw;
        padding-left: 0;
    }

    .title-div {
        display: block;
        position: absolute;
        left: 21%;
        top: 10vh;
        padding-right: 0;
        text-align: center;
    }

    
    /* Project Section */

    #project-1 {
        display: block;
    }

    #project-2 {
        display: block;
    }

    video {
        width: 400px
    }

    /* About Me Section */

    #section-hero {
        margin: 50px 0;
    }

    .section-hero-img {
        width: 100%;
        height: 18rem;
        overflow: hidden;
        border-radius: 20px;
        margin: 20px 0px;
        box-sizing: border-box;
        box-shadow: 10px 10px 50px rgb(204, 203, 203);
    }
    
    .section-hero-img h3 {
        color: #E4F9F5;
        text-align: left;
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
        margin: 4rem 0 0 3rem;
        width: auto;
        line-height: 120%;
    }
    
    .section-hero-img-gaming {
        background: url("../imgs/gaming.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150%;   
        background-position: center center;  
    }
    
    .section-hero-img-music {
        background: url("../imgs/music.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150%;    
        background-position: center center;
    }
    
    .section-hero-img-programming {
        background: url("../imgs/programming.jpg");  
        background-repeat: no-repeat;
        background-size: 100% 150%;  
        background-position: center center;   
    }
    
    #section-hero-div {
        display: block;
    }

    
    /* Skills Section */

    #section-skills {
        margin: 100px 0 100px 0;
    }

    .skills {
        margin-bottom: 6rem;
    }

    .skill-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }

    .skill-imgs {
        width: 35px;
        margin-right: 15px;
    }

    .skill-title {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .commentary {
        margin-bottom: 1rem;
        min-height: 5rem;
        text-align: center;
    }

    .mastery {
        text-align: center;
    }

    .mastery div{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.5rem;
    }

    .mastery img {
        width: 30px;
        padding-right: 0px;
    }


    /* Projects Section */

    #project-1 {
        margin-bottom: 5rem;
        display: block;
    }

    #project-1 div {
        margin-bottom: 3rem;
        margin-right: 0;
        width: 100%;
    }

    #section-projects {
        margin-bottom: 100px;
    }

    #section-projects h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 3vmax;
        color: #40514E;
        font-weight: 300;
    }

    #section-projects a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 96%;
        height: 1.8rem;
        color: #40514E;
        background-color: #30E3CA;
        padding: 12px;
        border: 12px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 2vmax;
    }

    #section-projects p {
        margin: 20px 0px;
        margin-bottom: 30px;
        font-size: 2vmax;
    }

    #project-2 {
        display: block;
    }

    #project-2 div {
        margin-left: 0;
        margin-bottom: 3rem;
        text-align: start;
    }

    video {
        width: 100%;
    }

    /* Footer */

    #section-footer div, p{
        margin: 0;
        font-size: 1rem;
    }

    #footer {
        display:grid;
    }

    #footer-links {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        border-bottom: 1px solid #E4F9F5;
        margin: 0 !important;
    }

    #footer-at {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        margin-bottom: 30px !important;
    }

    ul {
        display: flex;
        padding: 0%;
    }

    li {
        list-style-type: none;
    }

    #footer a {
        color: #E4F9F5;
        text-decoration: none;
        padding: 0 5px;
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Container */

    .container {
        margin: 0 5vw;
    }

    .flex-container {
        display: block;
    }

    .title-line {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    /* Title Section */

    #title-cont {
        position: relative;
    }

    #section-title {
        height: 100vh;
    }

    #img-div {
        position: absolute;
        top: 20vh;
    }

    #img-div img {
        height: 80.12vh;
        max-width: 90vw;
        padding-left: 0;
    }

    .title-div {
        display: block;
        position: absolute;
        left: 21%;
        top: 10vh;
        padding-right: 0;
        text-align: center;
    }

    
    /* Project Section */

    #project-1 {
        display: block;
    }

    #project-2 {
        display: block;
    }

    video {
        width: 400px
    }

    /* About Me Section */

    #section-hero {
        margin: 50px 0;
    }

    .section-hero-img {
        width: 100%;
        height: 23rem;
        overflow: hidden;
        border-radius: 20px;
        margin: 20px 0px;
        box-sizing: border-box;
        box-shadow: 10px 10px 50px rgb(204, 203, 203);
    }
    
    .section-hero-img h3 {
        color: #E4F9F5;
        text-align: left;
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
        margin: 4rem 0 0 3rem;
        width: auto;
        line-height: 120%;
    }
    
    .section-hero-img-gaming {
        background: url("../imgs/gaming.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150%;   
        background-position: center center;  
    }
    
    .section-hero-img-music {
        background: url("../imgs/music.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150%;    
        background-position: center center;
    }
    
    .section-hero-img-programming {
        background: url("../imgs/programming.jpg");  
        background-repeat: no-repeat;
        background-size: 100% 150%;  
        background-position: center center;   
    }
    
    #section-hero-div {
        display: block;
    }

    
    /* Skills Section */

    #section-skills {
        margin: 100px 0 100px 0;
    }

    .skills {
        margin-bottom: 6rem;
    }

    .skill-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }

    .skill-imgs {
        width: 35px;
        margin-right: 15px;
    }

    .skill-title {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .commentary {
        margin-bottom: 1rem;
        min-height: 5rem;
        text-align: center;
    }

    .mastery {
        text-align: center;
    }

    .mastery div{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.5rem;
    }

    .mastery img {
        width: 30px;
        padding-right: 0px;
    }


    /* Projects Section */

    #project-1 {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
    }
    
    #project-1 div {
        margin-right: 10rem;
    }
    
    #section-projects {
        margin-bottom: 100px;
    }
    
    #section-projects h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        color: #40514E;
        font-weight: 300;
    }
    
    #section-projects a {
        color: black;
        background-color: #30E3CA;
        padding: 12px;
        border: 12px;
        border-radius: 10px;
        text-decoration: none;
    }
    
    #section-projects a:hover {
        color: #E4F9F5;
        background-color: #11999E;
    }
    
    #section-projects p {
        margin: 20px 0px;
        margin-bottom: 30px;
    }
    
    #project-2 {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 0rem;
        text-align:right;
    }
    
    #project-2 div {
        margin-left: 10rem;
    }
    
    video {
        width: 35rem;
    }

    /* Footer */

    #section-footer div, p{
        margin: 0;
        font-size: 1rem;
    }

    #footer {
        display:grid;
    }

    #footer-links {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        border-bottom: 1px solid #E4F9F5;
        margin: 0 !important;
    }

    #footer-at {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        margin-bottom: 30px !important;
    }

    ul {
        display: flex;
        padding: 0%;
    }

    li {
        list-style-type: none;
    }

    #footer a {
        color: #E4F9F5;
        text-decoration: none;
        padding: 0 5px;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    /* Container */
    .container {
        margin: 0 11vw;
    }

    .flex-container {
        display: flex;
        align-items: center;
    }

    .title-line {
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }


    /* Title Section */

    #section-title {
        height: 63.12vh;
    }

    #img-div img {
        display: flex;
        align-items: flex-end;
        height: 63.12vh;
        padding-left: 3rem;
    }

    .title-div {
        padding-right: 3rem;
    }


    /* Elements */

    body {
        margin: 0;
        background-color: #E4F9F5;
    }


    /* Font and Text */

    h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 6vmax;
        color: #40514E;
        margin: 0;
        font-weight: normal;
    }

    h2 {
        font-family: 'Work Sans', sans-serif;
        font-size: 2.9vmax;
        color: #40514E;
        margin: 0;
        font-weight: normal;
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5vmax;
        font-weight: bold;
        color: #40514E;
        margin: 0;
    }

    p {    
        font-family: 'Poppins', sans-serif;
        font-size: 1.2vmax;
        color: #40514E;
        margin: 0;
        font-weight: normal;
    }

    a {    
        font-family: 'Poppins', sans-serif;
        font-size: 1.2vmax;
        color: #40514E;
        margin: 0;
        font-weight: normal;
    }

    #section-title h1, #section-title h2 {
        color: #E4F9F5;
    }

    #section-about-me h3 {
        color: #E4F9F5;
    }


    /*  */

    .card {
        background-repeat: no-repeat;
        background-size: 100% 150%;
        background-position: center;
    }

    .btn {
        background-color: #30E3CA;
        border-color: #30E3CA;
        color: black;
    }

    .btn:hover {
        background-color: #11999E;
        border-color: #11999E;
        color: #E4F9F5;
    }

    .nav-link {
        color: #E4F9F5;
    }

    .nav-link:hover {
        color: #40514E;
    }

    #section-footer p{
        color: #E4F9F5;
    }


    /* Hero Section */

    #section-hero {
        margin: 50px 0;
    }

    .section-hero-img {
        width: 408px;
        height: 374px;
        overflow: hidden;
        border-radius: 20px;
        margin: 15px;
        box-sizing: border-box;
        box-shadow: 10px 10px 50px rgb(204, 203, 203);
    }

    .section-hero-img h3 {
        color: #E4F9F5;
        text-align: left;
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
        margin: 35% 0px 0px 12%;
        width: 70%;
        line-height: 120%;
    }

    .section-hero-img-gaming {
        background: url("../imgs/gaming.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150%;   
        background-position: center center;  
    }

    .section-hero-img-music {
        background: url("../imgs/music.jpg");
        background-repeat: no-repeat;
        background-size: 100% 150%;    
        background-position: center center;
    }

    .section-hero-img-programming {
        background: url("../imgs/programming.jpg");  
        background-repeat: no-repeat;
        background-size: 100% 150%;  
        background-position: center center;   
    }

    #section-hero-div {
        display: flex;
        justify-content: space-between;
    }


    /* Skills Section */

    #section-skills {
        margin: 100px 0 100px 0;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skill-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        margin-top: 30px;
    }

    .skill-imgs {
        width: 35px;
        margin-right: 15px;
    }

    .skill-title {
        margin-bottom: 1rem;
    }

    .commentary {
        margin-bottom: 1rem;
        min-height: 8rem;
    }

    .mastery div{
        display: flex;
    }

    .mastery img {
        width: 30px;
        padding-right: 10px;
    }


    /* Project Section */

    #project-1 {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;
    }

    #project-1 div {
        margin-right: 10rem;
    }

    #section-projects {
        margin-bottom: 100px;
    }

    #section-projects h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        color: #40514E;
        font-weight: 300;
    }

    #section-projects a {
        color: black;
        background-color: #30E3CA;
        padding: 12px;
        border: 12px;
        border-radius: 10px;
        text-decoration: none;
    }

    #section-projects a:hover {
        color: #E4F9F5;
        background-color: #11999E;
    }

    #section-projects p {
        margin: 20px 0px;
        margin-bottom: 30px;
    }

    #project-2 {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 16rem;
        text-align:right;
    }

    #project-2 div {
        margin-left: 10rem;
    }

    video {
        width: 600px;
    }

    /* Footer */

    #section-footer div, p{
        margin: 0;
    }

    #footer {
        display:grid;
    }

    #footer-links {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        border-bottom: 1px solid #E4F9F5;
        margin: 0 10.208vw !important;
    }

    #footer-at {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        margin-bottom: 30px !important;
    }

    ul {
        display: flex;
    }

    li {
        list-style-type: none;
    }

    #footer a {
        color: #E4F9F5;
        text-decoration: none;
        padding: 0 10px;
    }

    #footer a:hover {
        color: #40514E;
    }
}